@font-face {
    font-family: circular-font-med;
    src: url(/fonts/CircularStd-Medium.otf);
}

@font-face {
    font-family: circular-font-black;
    src: url(/fonts/CircularStd-Black.otf);
}

@font-face {
    font-family: circular-font-lite;
    src: url(/fonts/CircularStd-Light.otf);
}

@font-face {
    font-family: circular-font-bold;
    src: url(/fonts/CircularStd-Bold.otf);
}

@font-face {
    font-family: circular-font-book;
    src: url(/fonts/CircularStd-Book.otf);
}

.bg-main {
    background-color: #e83113;
    font-family: circular-font-lite;
    overflow-x: hidden;
}

.burnlogo-large {
    width: 10em;
}

#burnnav {
    font-family: circular-font-book;
}

#burnnav ul li a:hover {
    color: #e83113;
    opacity: .8;
    transform: scale(1.05);
    font-family: circular-font-black;

}

.logos-burn a:hover img{
    transform: scale(1.05);
}

div .btn-jumbo {
    color: #e83113;
    font-family: circular-font-med;
    border-radius: 50px;
    /* background-color: #e83113; */
    min-width: 300px;
}

div .btn-jumbo:hover {
    color:#e83113;
    transform: scale(1.01);
    font-family: circular-font-black;
}

div .btn-catalog {
    color: #e83113;
    font-family: circular-font-med;
    border-radius: 50px;
    min-width: 200px;
    text-align: center;
    font-size: xx-large;
}

div .btn-catalog:hover {
    color:#e83113;
    transform: scale(1.05);
    font-family: circular-font-black;
    text-align: center;
}

div .btn-send {
    color: #e83113;
    font-family: circular-font-med;
    border-radius: 50px;
    width: 150px;
}

div .btn-send:hover {
    color:#e83113;
    transform: scale(1.01);
    background-color: #333333;
    font-family: circular-font-black;
}

div h1 {
    color: #212529;
    font-family: circular-font-bold;
    align-content: center;
    text-align: center;
    /* background-color: #212529; */
    border-radius: 50px;
    font-size: 70px;
}

.ffimg {
    width: 1000px;
}

div input {
    color: lightgray;
    font-family: circular-font-med;
    background-color: #212529;
    border-radius: 50px;
    text-align: center;
    font-size: larger;
    width: auto;
    height: auto;
    border-color:#333333;
}

/* #card-catalog {
    font-family: circular-font-med;
    color: #212529;
    background-color: #e83113;
} */

div .card-info {
    font-family: circular-font-med;
    color: #e83113;
    background-color: #212529;
    border-color: #212529;
    border-width: 5px;
    border-radius: 20px;
}

/* div #firetruck{
    background-image: url(/img/images/fire-engine.jpg);
    background-size: cover;
    padding: 450px;
    border-radius: 40px;
} */
/* 
div div h1 {
    color: #e83113;
    background-color: #212529;
    opacity: .9;
} */

footer div {
    color: #212529;
    font-family: circular-font-book;

}

footer div a {
    color: #212529;
    padding: 5px;
    border-radius: 50px;
}

footer div div div a:hover {
    color: #e83113;
    background-color: #333333;
}

footer div div a svg {
    fill: #212529;
}

footer div div a svg:hover {
    fill: #333333;
    transform:rotate(10deg);
}

@media screen and (max-width: 1520px) {
    div .btn-jumbo {
        color: #e83113;
        font-family: circular-font-med;
        border-radius: 50px;
        font-size: 15px;
        min-width: 260px;
    }

    #burnnav ul img {
        width: 25px;
        height: 2px;
        margin: 10px 17px;
        background-color: white;
    }

    .ffimg {
        width: 900px;
        justify-content: center;
    }

    div h1 {
        color: #212529;
        font-family: circular-font-bold;
        align-content: center;
        text-align: center;
        /* background-color: #212529; */
        font-size: 50px;
    }
}

@media screen and (max-width: 1250px) {
    div .btn-jumbo {
        color: #e83113;
        font-family: circular-font-med;
        border-radius: 50px;
        font-size: 15px;
        min-width: 180px;
    }
    
    /* .burnlogo-small {
        width: 2em;
    }

    .burnlogo-large {
        display: none;
    } */

    
    #burnnav ul img {
        width: 25px;
        height: 2px;
        margin: 10px 17px;
        background-color: white;
    }

    .ffimg {
        width: 700px;
        justify-content: space-evenly;
    }

    div h1 {
        color: #212529;
        font-family: circular-font-bold;
        align-content: center;
        text-align: center;
        /* background-color: #212529; */
        font-size: 50px;
    }
}

@media screen and (max-width: 992px) {
    .burnlogo-small {
        width: 2em;
    }

    .burnlogo-large {
        display: none;
    }

    .listbutton {
        width: 35px;
        height: 35px;
    }

    #burnnav ul img {
        width: 25px;
        height: 2px;
        margin: 10px 17px;
        background-color: white;
    }

    .ffimg {
        width: 700px;
        justify-content: space-evenly;
    }

    div h1 {
        color: #212529;
        font-family: circular-font-bold;
        align-content: center;
        text-align: center;
        /* background-color: #212529; */
        font-size: 45px;
        min-width: 350px;
    }
}

@media screen and (max-width: 772px) {
    div .btn-jumbo {
        color: #e83113;
        font-family: circular-font-med;
        border-radius: 30px;
        font-size: 15px;
        min-width: 300px;
    }

    .burnlogo-small {
        width: 2em;
    }

    .burnlogo-large {
        display: none;
    }

    

    #burnnav ul img {
        width: 25px;
        height: 2px;
        margin: 10px 17px;
        background-color: white;
    }

    .ffimg {
        width: 550px;
        justify-content: center;
        align-self: center;
    }

    div h1 {
        color: #212529;
        font-family: circular-font-bold;
        align-content: center;
        text-align: center;
        /* background-color: #212529; */
        font-size: 35px;
    }
}
@media screen and (max-width: 650px) {
    div .btn-jumbo {
        color: #e83113;
        font-family: circular-font-med;
        border-radius: 20px;
        font-size: 15px;
        min-width: 150px;
    }

    
    div .btn-catalog {
        color: #e83113;
        font-family: circular-font-med;
        border-radius: 10px;
        min-width: 200px;
        text-align: center;
        font-size: x-large;
    }

    div .btn-land {
        color: #e83113;
        font-family: circular-font-med;
        border-radius: 20px;
        font-size: 15px;
        min-width: 150px;
        min-height: 100px;
    }

    div .btn-send {
        color: #e83113;
        font-family: circular-font-med;
        border-radius: 50px;
        width: 80px;
    }

    .burnlogo-small {
        width: 2em;
    }

    .burnlogo-large {
        display: none;
    }

    

    #burnnav ul img {
        width: 25px;
        height: 2px;
        margin: 10px 17px;
        background-color: white;
    }

    .ffimg {
        width: 350px;
        justify-content: center;
    }

    div h1 {
        color: #212529;
        font-family: circular-font-med;
        text-align: center;
        /* background-color: #212529; */
        font-size: 30px;
        min-width: 200px;
    }
}

@media screen and (max-width: 400px) {
    div .btn-jumbo {
        color: #e83113;
        font-family: circular-font-med;
        border-radius: 20px;
        font-size: 15px;
        min-width: 150px;
    }


    .burnlogo-small {
        width: 2em;
    }

    .burnlogo-large {
        display: none;
    }

    

    #burnnav ul img {
        width: 25px;
        height: 2px;
        margin: 10px 17px;
        background-color: white;
    }

    .ffimg {
        width: 300px;
        justify-content: center;
    }

    div h1 {
        color: #212529;
        font-family: circular-font-med;
        text-align: center;
        /* background-color: #212529; */
        font-size: 40px;
        min-width: 200px;
    }
}
@media screen and (min-width: 993px) {
    .burnlogo-small {
        display: none;
    }

    #burnnav ul img {
        display: none;
    }

    #info-selector {
        min-width: 656px;
    }
}