@font-face {
    font-family: circular-font-med;
    src: url(/fonts/CircularStd-Medium.otf);
}

@font-face {
    font-family: circular-font-black;
    src: url(/fonts/CircularStd-Black.otf);
}

@font-face {
    font-family: circular-font-lite;
    src: url(/fonts/CircularStd-Light.otf);
}

@font-face {
    font-family: circular-font-bold;
    src: url(/fonts/CircularStd-Bold.otf);
}

@font-face {
    font-family: circular-font-book;
    src: url(/fonts/CircularStd-Book.otf);
}

body {
    font-family: circular-font-med, sans-serif;
    background-color: #e83113;
}

.burnlogo-large {
    width: 10em;
}

#burnnav {
    font-family: circular-font-book;
}

#burnnav ul li a:hover {
    color: #e83113;
}

@media screen and (max-width: 768px) {
    .burnlogo-small {
        width: 2em;
    }

    .burnlogo-large {
        display: none;
    }

    .listbutton {
        width: 25px;
        height: 25px;
    }

    #burnnav ul img {
        width: 25px;
        height: 2px;
        margin: 10px 17px;
        background-color: white;
    }
}

@media screen and (min-width: 769px) {
    .burnlogo-small {
        display: none;
    }

    #burnnav ul img {
        display: none;
    }

    #info-selector {
        min-width: 656px;
    }
}