@font-face {
    font-family: circular-font-med;
    src: url(/fonts/CircularStd-Medium.otf);
}

@font-face {
    font-family: circular-font-black;
    src: url(/fonts/CircularStd-Black.otf);
}

@font-face {
    font-family: circular-font-lite;
    src: url(/fonts/CircularStd-Light.otf);
}

@font-face {
    font-family: circular-font-bold;
    src: url(/fonts/CircularStd-Bold.otf);
}

@font-face {
    font-family: circular-font-book;
    src: url(/fonts/CircularStd-Book.otf);
}

.bg-main {
    background-color: #e83113;
    font-family: circular-font-lite;
    overflow-x: hidden;
}

.burnlogo-large {
    width: 10em;
}

#burnnav {
    font-family: circular-font-book;
}

#burnnav ul li a:hover {
    color: #e83113;
    opacity: .8;
    transform: scale(1.05);
    font-family: circular-font-black;

}

.logos-burn a:hover img{
    transform: scale(1.05);
}

div .btn-jumbo {
    color: #e83113;
    font-family: circular-font-med;
    border-radius: 50px;
    /* background-color: #e83113; */
}

div .btn-jumbo:hover {
    color:#e83113;
    transform: scale(1.01);
    background-color: #333333;
    font-family: circular-font-black;
}

div h1 {
    color: #212529;
    font-family: circular-font-bold;
    align-content: center;
    text-align: center;
    /* background-color: #212529; */
    border-radius: 50px;
    font-size: 70px;
}

.ffimg {
    width: 1000px;
}


/* .jumbo-press {
    background-image: url(https://images.unsplash.com/photo-1575507371089-cd0a12c5aae9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
} */

@media screen and (max-width: 1520px) {
    

    #burnnav ul img {
        width: 25px;
        height: 2px;
        margin: 10px 17px;
        background-color: white;
    }

    .ffimg {
        width: 900px;
        justify-content: center;
    }

    div h1 {
        color: #212529;
        font-family: circular-font-bold;
        align-content: center;
        text-align: center;
        /* background-color: #212529; */
        font-size: 50px;
    }
}

@media screen and (max-width: 1250px) {
    .burnlogo-small {
        width: 2em;
    }

    .burnlogo-large {
        display: none;
    }

    .listbutton {
        width: 25px;
        height: 25px;
    }

    #burnnav ul img {
        width: 25px;
        height: 2px;
        margin: 10px 17px;
        background-color: white;
    }

    .ffimg {
        width: 700px;
        justify-content: space-evenly;
    }

    div h1 {
        color: #212529;
        font-family: circular-font-bold;
        align-content: center;
        text-align: center;
        /* background-color: #212529; */
        font-size: 60px;
    }
}

@media screen and (max-width: 992px) {
    .burnlogo-small {
        width: 2em;
    }

    .burnlogo-large {
        display: none;
    }

    .listbutton {
        width: 25px;
        height: 25px;
    }

    #burnnav ul img {
        width: 25px;
        height: 2px;
        margin: 10px 17px;
        background-color: white;
    }

    .ffimg {
        width: 700px;
        justify-content: space-evenly;
    }

    div h1 {
        color: #212529;
        font-family: circular-font-bold;
        align-content: center;
        text-align: center;
        /* background-color: #212529; */
        font-size: 60px;
    }
}

@media screen and (max-width: 772px) {
    div .btn-jumbo {
        color: #e83113;
        font-family: circular-font-med;
        border-radius: 20px;
        font-size: 15px;
        min-width: 180px;
    }

    .burnlogo-small {
        width: 2em;
    }

    .burnlogo-large {
        display: none;
    }

    .listbutton {
        width: 25px;
        height: 25px;
    }

    #burnnav ul img {
        width: 25px;
        height: 2px;
        margin: 10px 17px;
        background-color: white;
    }

    .ffimg {
        width: 600px;
        justify-content: center;
    }

    div h1 {
        color: #212529;
        font-family: circular-font-bold;
        align-content: center;
        text-align: center;
        /* background-color: #212529; */
        font-size: 40px;
    }
}
@media screen and (max-width: 650px) {
    .burnlogo-small {
        width: 2em;
    }

    .burnlogo-large {
        display: none;
    }

    .listbutton {
        width: 25px;
        height: 25px;
    }

    #burnnav ul img {
        width: 25px;
        height: 2px;
        margin: 10px 17px;
        background-color: white;
    }

    .ffimg {
        width: 380px;
        justify-content: center;
    }

    div h1 {
        color: #212529;
        font-family: circular-font-med;
        text-align: center;
        /* background-color: #212529; */
        font-size: 40px;
    }
}

@media screen and (min-width: 993px) {
    .burnlogo-small {
        display: none;
    }

    #burnnav ul img {
        display: none;
    }

    #info-selector {
        min-width: 656px;
    }
}